p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('../../../../../public/pictures/flowers-3.png');
    background-size: cover;
    background-position: left;
    background-repeat: repeat-y;
}