@import '../../../../../../public/theme/boeris-theme';

.header {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    background-color: $primaryColor;
    position: fixed;
    color: $secondaryColor;
    width: 100%;
    height: 15vh;
}

.menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tomatoes', sans-serif;
    font-size: xx-large;

    user-select: none;
    -webkit-user-select: none;
}

.user-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

.p-button {
    border-radius: 0;
    width: 100%;
}

// El overlayPanel tiene dos flechas (una encima de la otra). Elimino una de ellas y coloreo la otra.
::ng-deep .p-overlaypanel {
    transform: translateX(-1vw) !important;
    
    &:before {
        content: none;
        // border-bottom-color: $secondaryColor;
    }
    
    &:after {
        // content: none;
        border-bottom-color: $secondaryColor;
    }
}

::ng-deep .p-overlaypanel:after, .p-overlaypanel:before {
    left: calc(88%);
}

@media screen and (max-width: 500px) {
    .header {
        grid-template-columns: 20% 60% 20%;
        height: 10vh;
    }
    
    .header-text {
        font-size: x-large;
    }
}