@import '../../../../../../../public/theme/boeris-theme';

.header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    background-color: $primaryColor;
    position: fixed;
    color: $secondaryColor;
    width: 100%;
    height: 15vh;
}

.menu-button {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2rem;
}

.menu-icon {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Tomatoes', sans-serif;
    font-size: xx-large;

    user-select: none;
    -webkit-user-select: none;
}

.user-button {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 2rem;
}

.user-icon {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

::ng-deep .p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

::ng-deep .p-button {
    border-radius: 0;
    width: 100%;
}

// El overlayPanel tiene dos flechas (una encima de la otra). Elimino una de ellas y coloreo la otra.
::ng-deep .p-overlaypanel {
    &:before {
        content: none;
        // border-bottom-color: $secondaryColor;
    }

    
    &:after {
        // content: none;
        border-bottom-color: $secondaryColor;
    }

}

@media screen and (max-width: 500px) {
    .header-text {
        font-size: x-large;
    }
}