<div class="main-container">
    <div class="upper-section">
        <app-main-banner></app-main-banner>
    </div>
    <div class="bottom-section">
        <div class="sidebar">
            <p-panelMenu [model]="sideMenu">
                <!-- <ng-template pTemplate="item" let-item>
                    @if (item.routerLink) {
                        <a [routerLink]="item.routerLink">
                            <span [className]="item.icon"></span>
                            <span class="ml-2 text-color">{{ item.label }}</span>
                        </a>
                    }
                    @else {

                    }
                </ng-template>
                 -->
            </p-panelMenu>
        </div>
        <div class="main-section">
            @if (router.url === '/sections') {
                <div class="without-menu-section">
                    <p>¡Bienvenido!</p>
                    <p>Haga click sobre un menú</p>
                </div>
            }
            <router-outlet></router-outlet>
        </div>
    </div>
</div>