<div class="container">
    <div class="banner">
        <app-main-banner
        [isDeployableMenu]="false"
        [title]="translateService.instant('SECTIONS.PROFILE.TITLE')"
        ></app-main-banner>
    </div>
    <div class="main-section">
        <div class="change-user">
            <h2>{{ 'SECTIONS.PROFILE.LABELS.CHANGE_USER' | translate }}</h2>
            <p-divider></p-divider>
            <input
            [(ngModel)]="username"
            pInputText
            autocapitalize="off"
            type="text"
            [placeholder]="userData ? userData.username : ''"
            />
        </div>
        <div class="change-password">
            <h2>{{ 'SECTIONS.PROFILE.LABELS.CHANGE_PASSWORD' | translate }}</h2>
            <p-divider></p-divider>

            <p-password
            [(ngModel)]="currentPassword"
            [feedback]="false"
            [placeholder]="translateService.instant('SECTIONS.PROFILE.FIELDS_PLACEHOLDERS.CURRENT_PASSWORD')"
            />

            <p-password
            [(ngModel)]="newPassword"
            [feedback]="false"
            [placeholder]="translateService.instant('SECTIONS.PROFILE.FIELDS_PLACEHOLDERS.NEW_PASSWORD')"
            />

            <p-password
            [(ngModel)]="confirmedPassword"
            [feedback]="false"
            [placeholder]="translateService.instant('SECTIONS.PROFILE.FIELDS_PLACEHOLDERS.CONFIRM_PASSWORD')"
            />
        </div>
        <div class="button">
            @if (!isLoading) {
                <p-button
                [label]="translateService.instant('SECTIONS.PROFILE.BUTTONS.CONFIRM_UPDATES')"
                (onClick)="updateChanges()"
                ></p-button>
            }
            @else {
                <p-button
                [disabled]="true"
                >
                    <i class="pi pi-spinner pi-spin"></i>
                </p-button>
            }
        </div>
    </div>
</div>

<p-toast></p-toast>