@import '../../../../../../../public/theme/boeris-theme';

h2 {
    color: $primaryColor;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 85%;
}

.loading-icon {
    display: flex;
    align-items: center;
    height: 100%;
}

i {
    color: $primaryColor;
}

:host ::ng-deep .botones .p-button {
    width: 168px;
}

:host ::ng-deep .p-scroller-spacer {
    height: 50vh !important;
}

::ng-deep .p-inputtext {
    user-select: none;
}

.fila-lista {
    color: $primaryColor;
    background-color: $secondaryColor;
    cursor: pointer;
    user-select: none;

    display: flex;
    align-items: center;
    padding: .5rem;

    &:hover {
        background-color: $secondaryDarkColor;
    }

    &:active {
        background-color: $secondaryDarkerColor;
    }
}