// TODO: Acceder al asset directamente desde la url para acceder globalmente a los assets
@import '../../../../../../public/theme/boeris-theme';

header {
    display: flex;
    align-items: center;
    background-color: $primaryColor;
    color: $secondaryColor;
    z-index: 1;
}

.icon {
    // TODO: Acceder al asset directamente desde la url para acceder globalmente a los assets
    background-image: url('../../../../../../public/icons/logo-marca-agua.png');
    background-size: 5em;
    background-repeat: no-repeat;
    width: 5em;
    height: 5em;
    margin: 1em 1.5em;
    user-select: none;
}

.header-text {
    font-family: 'Tomatoes', sans-serif;
    font-size: xx-large;
    user-select: none;
}

@media screen and (max-width: 500px) {
    .header-text {
        font-size: x-large;
    }
}